@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/canvas.css" />
    <script src="~/js/Queue.js"></script>
    <script src="~/js/MathExtension.js"></script>
    <script src="~/js/KeyCode.js"></script>
    <script src="~/js/Input.js"></script>
    <script src="~/js/WebSocket2.js"></script>
    <script src="~/js/ServerWMC/ServerWMC.js"></script>
    <script src="~/js/ServerWMC/ServerInfo.js"></script>
    <script src="~/js/ServerWMC/Parser.js"></script>
    <script src="~/js/AppEngine/Action.js"></script>
    <script src="~/js/AppEngine/App.js"></script>
    <script src="~/js/AppEngine/GameObject.js"></script>
    <script src="~/js/AppEngine/GameComponent.js"></script>
    <script src="~/js/AppEngine/ImageComponent.js"></script>
    <script src="~/js/AppEngine/TextComponent.js"></script>
    <script src="~/js/AppEngine/TransformComponent.js"></script>
    <script src="~/js/Scenes/ConnectingScene.js"></script>
    <script src="~/js/Scenes/StartUpScene.js"></script>
    <script src="~/js/Scenes/MainMenuScene.js"></script>
    <script src="~/js/Prefabs/BlackBackground.js"></script>
    <script src="~/js/Prefabs/BlueBackground.js"></script>
    <script src="~/js/Prefabs/ImageObject.js"></script>
    <script src="~/js/Prefabs/CornerTime.js"></script>
    <script src="~/js/Prefabs/Circle.js"></script>
    <script src="~/js/Prefabs/TextObject.js"></script>
    <script src="~/js/Prefabs/LoadingCircle.js"></script>
    <script src="~/js/Prefabs/StartUpGreenButton.js"></script>
    <script src="~/js/Prefabs/SelectionSquare.js"></script>
    <script src="~/js/Prefabs/MainMenuItem.js"></script>
    <script src="~/js/Prefabs/MainMenuItemBar.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Windows Media Center Canvas</title>
</head>
<body>
    <canvas id="AppCanvas"></canvas>
    <script type="text/javascript">
        App.StartApp(ConnectingScene);
        window.onresize = App.OnResize;
    </script>
</body>
</html>