@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <video controls loop>
        <source src="http://192.168.254.178:5004/auto/v4.1?transcode=heavy" type="video/mp4">
    </video>
    
</body>
</html>
